 body {
			background-image: url("../images/rink.png");
			overflow:hidden;
			color:black;
} 
p {
    text-align: center;
}
#subsection{
	color:black;
	font-family:"Calibri";
	font-size:3em;
	font-weight:bold;
	visibility: visible;
	-webkit-text-stroke: 1px rgb(206,217,232);
}
#subsection:hover{
	color:rgba(206,217,232,.5);
   -webkit-text-stroke: 1px black;
	font-family:"Calibri";
	font-weight:bold;
	font-size:3em;
	visibility: visible;
}
#toplink{
	top:5%;
left:50%;
z-index:500;
}
#bottomlink{
	position:absolute;

	top:90%;
	left:40%	

}
#leftlink{
	top:50%;
	left:13%;
	position:absolute;

}
 .puck{
	position:absolute;
	top:25%;
	left:37%;
	right:30%;
	z-index:1;
} 
.puck:hover{
		width:28%;
		top:23%;
		left:36%;
}
#rightlink{
	top:50%;
	right:10%;
	position:absolute;

}
.centerpuck{
	position: absolute;
	top:25%;
	bottom:25%;
	left:25%;
	right:25%;
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

#menubutton{
	position: absolute;
	top:1%;
	right:1%;
	height:3%;
	width:3%;
}
#headline{
	text-align:center;
	font-weight:bold;
}
.define{
color: rgb(224, 136, 136);
}
#introtext1, #introtext2, #introtext3, #introtext4,#introtext5, #introtext6,#introtext7, #introtext8{
font-family:"Calibri";
/* font-weight:bold;	
 */font-size:1.75em;
top:1%;
position:absolute;
left:25%;
right:30%;
z-index:5;
height:500px;
width:980px;
text-align:left;
color: rgb(214,218,223);
}
#introtext1, #introtext2, #introtext3, #introtext4,#introtext5, #introtext6,#introtext7,#introtext8{
	font-size:3em;
}
.introbg{
position: absolute;
top: 0%;
left: 22%;
z-index: -3;
width: 1080px;
height: 700px;

}

.introarrow1, .introarrow2, .introarrow3,.introarrow4,.introarrow5,.introarrow6,.introarrow7{
	position:absolute;
	top:110%;
	right:0%;
}

.introbackarrow2, .introbackarrow3, .introbackarrow4,.introbackarrow5,.introbackarrow6,.introbackarrow7,.introbackarrow8{
position:absolute;
	top:110%;
	left:0%;
}
#CorrCanvas, #RepCanvas{
	position:absolute;
	z-index:500;
	top:22%;
	left:22%;
	z-index:5;
}

#CorrGraph1,#CorrGraph2,  #CorrGraph3, #RepGraph1, #RepGraph2, #RepGraph3{
	font-family:"Calibri";
	position:absolute;
	top:68%;
	left:29%;
	z-index:30;
	font-size:1.5em;
	text-align:left;
	width:40%;
	color:black;
}

.crosby{
	position:absolute;
	bottom:5%;
	height:27%;
}
.crosbyspeech{
	position:absolute;
	bottom:5%;
	left:35%;
}
p.crosbyspeech  	{
	font-family: "Calibri";
	font-size: 1.4em;
	width:600px;
	left:38%;
	top:80%;
	color:white;
}


#canvas, #repGraph{
	background-color:white;
	/* width:900px !important;
	height:400px !important; */
 	position:absolute;
	top:28%;
	left:29%;
	z-index:25;
}
.correlation{
 z-index:35;
}
#chartButton{
	z-index: 45;
	position: absolute;
	top:75%;
	left:68%;
	width:5%;
}